@import 
url(https://fonts.googleapis.com/css?family=Open+Sans);

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fbfbfb;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    order: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    overflow: hidden;
    background-color: #109910;
    position: fixed;
    top: 0;
    width: 100%;
}

.controls li {
    float: left;
    width: 25%;
}

.controls li:nth-child(2){
    width: 49%;
    border-right: 1px solid #18e518;
    border-left: 1px solid #18e518;

}

.controls li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em 1em 1em;
    text-decoration: none;
}

.controls li a p {
    display: inline-block;
    font-size: 12px;
    color: #57b757;
    margin: 0px;
}

.controls a{
    text-decoration: bold;
}

.controls a:hover {
    background-color: #15cc15;
}

.container, .backdrop, .textArea {
    width: 98%;
}

.highlights, .textArea {
    font: 18px/26px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.container {
    order: 2;
    display: block;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    padding-top: 4.2em;
    padding-bottom: 1em;
}

.backdrop {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

.textArea {
    flex-grow: 2;
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #d7d7d7;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: hidden;
    resize: none;
}

.textArea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #bfbfbf;
}

mark {
    border-radius: 3px;
    color: transparent;
    background-color: #F4FF2E;
}

.howTo{
    order: 3;
    width: 75%;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-bottom: 1em;
    color: #444;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #d7d7d7;
    background-color: #fff;
}

.howTo h1{
    font-size: large;
    text-decoration: bold;
    text-align: center;
}

.howTo h2{
    font-size: medium;
}

.howTo p{
    font-size: small;
}

.experimental{
    order: 4;
    width: 55%;
    color: #444;
    background-color: transparent;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #d7d7d7;
    background-color: #fff;
    text-align: center;
    padding-bottom: 1em;
}

.experimental h4{
    font-size: 12px;
}

.experimental p{
    font-size: 11px;
}

.experimental a{
    color: #444;
}

.supportTheSite{ 
    order: 6;
    color: #444;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #d7d7d7;
    background-color: #fff;
}

.footer{
    order: 5;
    margin: 0;
    text-align: center;
    font-size: 12px;
    color: #c8c8c8;
}

@media screen and (max-width: 630px){
    .experimental{
        width: 95%;
    }

    .howTo{
        width: 95%;
        padding-left: 0;
        padding-right: 0;
    }

} 

.invalidHighlight{
    pointer-events: none;
	background: repeating-linear-gradient(
	-35deg,
	#109910,
	#109910 10px,
	#27a327 10px,
	#27a327 13px
	);
}
