@import 
url(https://fonts.googleapis.com/css?family=Open+Sans);


.controls {
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.controls li {
    float: left;
    border-right: 1px solid #bbb;
    width: 49%;
}

.controls li:first-child {
    width: 25%;
}

.controls li:last-child {
    border-right: None;
    width: 25%;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
   /* padding: 14px 16px;*/
    padding: 1em 2em;
    text-decoration: none;
}

.controls a:hover {
    background-color: #111;
}

.highlights, .textArea {
    font: 20px/28px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.container {
    display: block;
    margin: 0 auto;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.backdrop {
    position: absolute;
    z-index: 1;
    border: 2px solid #685972;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

.textArea {

    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid #74637f;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
}

.textArea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #c6aada;
}

mark {
    border-radius: 3px;
    color: transparent;
    background-color: #f2eb71;
}

