@import 
url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    background-color: #fbfbfb;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.controls {
    order: 1;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 3;
    overflow: hidden;
    background-color: #109910;
    position: fixed;
    top: 0;
    width: 100%;
}

.controls li {
    float: left;
    border-right: 1px solid #18e518;
    width: 49%;
}

.controls li:first-child {
    width: 25%;
}

.controls li:last-child {
    border-right: None;
    width: 25%;
}

.controls li a {
    display: block;
    color: white;
    text-align: center;
   /* padding: 14px 16px;*/
    padding: 1em 2em;
    text-decoration: none;
}

.controls a:hover {
    background-color: #15cc15;
}

.container, .backdrop, .textArea {
    width: 98%;
}

.highlights, .textArea {
    font: 18px/26px 'Open Sans', sans-serif;
    letter-spacing: 1px;
}

.container {
    order: 2;
    display: block;
    margin: 0 auto;
    -webkit-text-size-adjust: none;
    padding-top: 4em;
}

.backdrop {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    overflow: auto;
    pointer-events: none;
}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

.textArea {
    display: block;
    position: absolute;
    z-index: 2;
    margin: 0;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #d7d7d7;
    border-radius: 0;
    color: #444;
    background-color: transparent;
    overflow: auto;
    resize: none;
}

.textArea:focus, button:focus {
    outline: none;
    box-shadow: 0 0 5px #bfbfbf;
}

mark {
    border-radius: 3px;
    color: transparent;
    background-color: #F4FF2E;
}

